Brian Avants <stnava@gmail.com>
Brian Avants <stnava@gmail.com> brian avants <stnava@gmail.com>
Brian Avants <stnava@gmail.com> BBAvants <stnava@gmail.com>
Brian Avants <stnava@gmail.com> stnava <stnava@gmail.com>
Brian Avants <stnava@gmail.com> b avants <stnava@gmail.com>
Nick Tustison <ntustison@gmail.com>
Nick Tustison <ntustison@gmail.com> ntustison <ntustison@gmail.com>
Nick Tustison <ntustison@gmail.com> ntustison <ntustison@wustl.edu>
Hans J. Johnson <hans-johnson@uiowa.edu>
Hans J. Johnson <hans-johnson@uiowa.edu> Hans Johnson <hans-johnson@uiowa.edu>
Hans J. Johnson <hans-johnson@uiowa.edu> hjmjohnson <hans.j.johnson@gmail.com>
Jeffrey Duda <jeff.duda@gmail.com>
Jeffrey Duda <jeff.duda@gmail.com> Jeff Duda <jeff.duda@gmail.com>
Jeffrey Duda <jeff.duda@gmail.com> Jeff Duda <jeff.jones@gmail.com>
Ben Kandel <bkandel@seas.upenn.edu>
Ben Kandel <bkandel@seas.upenn.edu> bkandel <bkandel@seas.upenn.edu>
Ben Kandel <bkandel@seas.upenn.edu> bkandel <bkandelemail-github@yahoo.com>
Gang Song <songgang@seas.upenn.edu>
Paramveer Dhillon <dhillon@cis.upenn.edu>
Paramveer Dhillon <dhillon@cis.upenn.edu> paramveerdhillon <dhillon@cis.upenn.edu>
Kent Williams <norman-k-williams@uiowa.edu>
Kent Williams <norman-k-williams@uiowa.edu> chaircrusher <norman-k-williams@uiowa.edu>
Philip Cook <cookpa@mail.med.upenn.edu>
Philip Cook <cookpa@mail.med.upenn.edu> Phil Cook <philbert26@gmail.com>
Yaroslav Halchenko <debian@onerussian.com>
Baohua Wu <baowu99@gmail.com>
Michael Stauffer <mstauff@verizon.net>
Ali Ghayoor <ali-ghayoor@uiowa.edu>
Craig Stark <cestark@uci.edu>
adrienkaiser <adrien.kaiser@hotmail.fr>
hwang3 <hwang3@picsl-build.uphs.upenn.edu>
Chris Filo Gorgolewski <chris.gorgolewski@gmail.com>
Niels van Strian <n.vanstrien@gmail.com>
Andrey Fedorov <fedorov@bwh.harvard.edu>
Paul Yushkevich <pyushkevich@gmail.com>
