language: cpp
cache:
  - ccache
  - directories:
    - externalobjects
    - $HOME/Library/Caches/Homebrew
    - debs
dist: xenial

before_cache:
  - brew cleanup

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - llvm-toolchain-xenial-3.6
      - llvm-toolchain-xenial-3.7
      - llvm-toolchain-xenial-3.8
      - llvm-toolchain-xenial-3.9
      - llvm-toolchain-xenial-4.0
      - llvm-toolchain-xenial-5.0
      - llvm-toolchain-xenial-6.0
      - llvm-toolchain-xenial-7
      - llvm-toolchain-xenial-8
      - sourceline: 'ppa:jonathonf/meson'
      - sourceline: 'deb https://apt.kitware.com/ubuntu/ xenial main'
        key_url: 'https://apt.kitware.com/keys/kitware-archive-latest.asc'
    packages:
      - cmake
      - ninja-build
      - g++-5
      - g++-6
      - g++-7
      - g++-8
      - g++-9
      - gcc-5
      - gcc-6
      - gcc-7
      - gcc-8
      - gcc-9
      - clang-3.6
      - clang-3.7
      - clang-3.8
      - clang-3.9
      - clang-4.0
      - clang-5.0
      - clang-6.0
      - clang-7
      - clang-8

matrix:
  include:
    - os: linux
      env:
         - MATRIX_EVAL="export CC=gcc-5 CXX=g++-5"
    - os: linux
      env:
        - MATRIX_EVAL="export CC=gcc-6 CXX=g++-6"
    - os: linux
      env:
        - MATRIX_EVAL="export CC=gcc-7 CXX=g++-7"
    - os: linux
      env:
        - MATRIX_EVAL="export CC=gcc-8 CXX=g++-8"
    - os: linux
      env:
        - MATRIX_EVAL="export CC=gcc-9 CXX=g++-9"
#Linux Clang Starts Here
    - os: linux
      env:
        - MATRIX_EVAL="export CC=clang-3.6 CXX=clang++-3.6"
    - os: linux
      env:
        - MATRIX_EVAL="export CC=clang-3.7 CXX=clang++-3.7"
    - os: linux
      env:
        - MATRIX_EVAL="export CC=clang-3.8 CXX=clang++-3.8"
    - os: linux
      env:
        - MATRIX_EVAL="export CC=clang-3.9 CXX=clang++-3.9"
    - os: linux
      env:
        - MATRIX_EVAL="export CC=clang-4.0 CXX=clang++-4.0"
    - os: linux
      env:
        - MATRIX_EVAL="export CC=clang-5.0 CXX=clang++-5.0"
    - os: linux
      env:
        - MATRIX_EVAL="export CC=clang-6.0 CXX=clang++-6.0"
    - os: linux
      env:
        - MATRIX_EVAL="export CC=clang-7 CXX=clang++-7"
    - os: linux
      env:
        - MATRIX_EVAL="export CC=clang-8 CXX=clang++-8"
#OSX GCC Starts here
#    - os: osx
#      osx_image: xcode10.1
#      env:
#        - MATRIX_EVAL="export CC=gcc-5 CXX=g++-5"
#      addons:
#        homebrew:
#          packages:
#            - cmake
#            - ccache
#            - ninja
#            - gcc@5
#          update: yes
    - os: osx
      osx_image: xcode10.1
      env:
        - MATRIX_EVAL="export CC=gcc-6 CXX=g++-6"
      addons:
        homebrew:
          packages:
            - cmake
            - ccache
            - ninja
            - gcc@6
          update: yes
    - os: osx
      osx_image: xcode10.1
      env:
        - MATRIX_EVAL="export CC=gcc-7 CXX=g++-7"
      addons:
        homebrew:
          packages:
            - cmake
            - ccache
            - ninja
            - gcc@7
          update: yes
    - os: osx
      osx_image: xcode10.1
      env:
        - MATRIX_EVAL="export CC=gcc-8 CXX=g++-8"
      addons:
        homebrew:
          packages:
            - cmake
            - ccache
            - ninja
            - gcc@8
          update: yes
    - os: osx
      osx_image: xcode10.1
      env:
        - MATRIX_EVAL="export CC=gcc-9 CXX=g++-9"
      addons:
        homebrew:
          packages:
            - cmake
            - ccache
            - ninja
            - gcc@9
          update: yes
#OSX clang starts here
    - os: osx
      osx_image: xcode10.2
      env:
        - MATRIX_EVAL=""
      addons:
        homebrew:
          packages:
            - cmake
            - ccache
            - ninja
          update: yes
    - os: osx
      osx_image: xcode10.1
      env:
        - MATRIX_EVAL=""
      addons:
        homebrew:
          packages:
            - cmake
            - ccache
            - ninja
          update: yes
    - os: osx
      osx_image: xcode10
      env:
        - MATRIX_EVAL=""
      addons:
        homebrew:
          packages:
            - cmake
            - ccache
            - ninja
          update: yes
    - os: osx
      osx_image: xcode9.4
      env:
        - MATRIX_EVAL=""
      addons:
        homebrew:
          packages:
            - cmake
            - ccache
            - ninja
          update: yes
    - os: osx
      osx_image: xcode9.3
      env:
        - MATRIX_EVAL=""
      addons:
        homebrew:
          packages:
            - cmake
            - ccache
            - ninja
          update: yes
    - os: osx
      osx_image: xcode9.2
      env:
        - MATRIX_EVAL=""
      addons:
        homebrew:
          packages:
            - cmake
            - ccache
            - ninja
          update: yes
    - os: osx
      osx_image: xcode9.1
      env:
        - MATRIX_EVAL=""
      addons:
        homebrew:
          packages:
            - cmake
            - ccache
            - ninja
          update: yes
    - os: osx
      osx_image: xcode9
      env:
        - MATRIX_EVAL=""
      addons:
        homebrew:
          packages:
            - cmake
            - ccache
            - ninja
          update: yes
    - os: osx
      osx_image: xcode8.3
      env:
        - MATRIX_EVAL=""
      addons:
        homebrew:
          packages:
            - cmake
            - ccache
            - ninja
          update: yes
    - os: osx
      osx_image: xcode8
      env:
        - MATRIX_EVAL=""
      addons:
        homebrew:
          packages:
            - cmake
            - ccache
            - ninja
          update: yes
    - os: osx
      osx_image: xcode7.3
      env:
        - MATRIX_EVAL=""
      addons:
        homebrew:
          packages:
            - cmake
            - ccache
            - ninja
          update: yes

before_install:
    - eval "${MATRIX_EVAL}"

script:
  - mkdir -p build externalobjects && cd build
  - export ExternalData_OBJECT_STORES=${TRAVIS_BUILD_DIR}/externalobjects
  - "export PATH=\"$(echo ${PATH} | awk -v RS=: -v ORS=: '/ccache/ {next} {print}')\""
  - cmake -GNinja -DRUN_LONG_TESTS=OFF -DRUN_SHORT_TESTS=ON ..
  - travis_wait 80 ninja -v
  - cd ANTS-build && ctest
